{% extends "base.html" %}

{% block title %} MyBlog - {{title_name}} {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('../static/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>dolphin's journey</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form id="{{ title_name.replace(' ', '').lower() }}Form" method="POST">
                        {{form.csrf_token}}
                        {% for field in form if field.name != 'csrf_token' %}
                            <div class="form-floating">
                                <!-- id = field이름 = field.id -->
                                <!-- ~ = 문자열 연결 -->
                                {{ field(class="form-control" ~ (' is-invalid' if field.errors else ''), required=True) }}
                                {% for error in field.errors %}
                                    <span class="invalid-feedback" style="font-size: 16px; color:red;">{{ error }}</span>
                                {% endfor %}
                                <label for="{{ field.id }}">{{ field.label }}</label>
                            </div>
                        {% endfor %}
                        <br />
                        <button class="btn btn-primary text-uppercase" id="{{ title_name.replace(' ', '').lower() }}Button" type="submit">{{title_name}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}