<!-- flask_app/blog/templates/views/category.html -->
{% extends "base.html" %}

{% block title %} MyBlog - All Category {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>All Categories</h2>
                    <span class="subheading">See Post Categories</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7" id="categories">
            {% for category in categories %}
                <div id="category_list" class="category_post_preview">
                    <a href="{{url_for('views.posts_list', category_id=category.id)}}">
                        <h2 class="category_name">{{ category.name }}</h2>
                    </a>
                </div>
                <hr class="my-4"/>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}