{% extends "base.html" %}

{% block title %} MyBlog - Contact Me {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>Contact Me</h2>
                    <span class="subheading">Feel free to use the contact form below to send me a message</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="about-section text-center" style="margin: 24px;">
    <div class="row justify-content-center">
        <div class="row" style="border: 1px solid; padding: 8px; max-width: 600px; min-width: 200px;">
            <div class="col mx-auto">
                <form id="contactForm" method="POST">
                    {{form.csrf_token}}
                    {% for field in form if field.name != 'csrf_token'%}
                        <div class="form-floating">
                            {{ field(id=field.id, class="form-control" ~ (' is-invalid' if field.errors else ''), required=True,
                            style=("font-size: 16px;" ~ ("height:200px; resize: none;" if field.name == 'content' else ""))) }}
                            <label for="{{ field.id }}" {% if field.errors %} class="invalid-feedback" {% endif %}>{{ field.label.text }}</label>
                            {% for error in field.errors %}
                                <span class="invalid-feedback" style="font-size: 16px; color:red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <br />
                    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">send</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}