<!-- flask_app/blog/templates/views/about_me.html -->
{% extends "base.html" %}

{% block title %} MyBlog - About Me {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>File Upload</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
function onFileUpload(){
    clearMessage();
    let confirm = window.confirm('정말 업로드 하시겠습니까?');
    if (confirm) {
        const fileInput = document.getElementById('fileInput');
        const formData = new FormData();
        const maxSize = 1024 * 1024; // 최대 파일 크기를 1MB로 설정

        for (let i = 0; i < fileInput.files.length; i++) {
            const file = fileInput.files[i];
            if (file.size > maxSize) {
                displayErrorMessage('파일 크기는 1MB 이하여야 합니다.');
                fileInput.value = '';
                return;
            }
            formData.append('files', file);
        }
        document.getElementById('uploadForm').submit();
    }
}

function displayErrorMessage(message) {
    const errorMessageContainer = document.getElementById('errorMessageContainer');
    errorMessageContainer.innerHTML = `<div>${message}</div>`;
}
function clearMessage() {
    const errorMessageContainer = document.getElementById('errorMessageContainer');
    errorMessageContainer.innerHTML = '';
}
</script>
{% endblock %}

{% block content %}
<section class="about-section text-center" style="margin: 24px;">
    <form enctype="multipart/form-data" id="uploadForm" action="{{url_for('views.file_upload')}}" method="POST">
        <input type="file" id="fileInput" name="files" multiple>
        <button type="button" class="btn btn-info" onclick="onFileUpload()">Upload</button>
    </form>
    <div id="errorMessageContainer" style="font-size: 16px; color:red;"></div>
</section>
{% endblock %}