<!-- flask_app/blog/templates/views/posts_list.html -->
{% extends "base.html" %}

{% block title %} 
    {% if type == 'home' %}
        MyBlog - home
    {% elif type == 'category_posts' %}
        MyBlog - {{category_name}} Category
    {% else %}
        MyBlog - {{selected_user.username}} Posts
    {% endif %}        
{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    {% if type == 'user_posts' %}
                        <h2 id="user_wrapper" name="user_{{selected_user.username}}">User: {{selected_user.username}}</h2>
                    {% else %}
                        <h2 id="category_wrapper" name="category_{{category_name}}">Category : {{category_name}}</h2>
                    {% endif %} 
                    <span class="subheading" id="posts_count">총 {{ posts | length }}개의 포스트가 있습니다.</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% if posts | length %}
                {% for post in posts %}
                    <div class="post-preview">
                        <!-- 제목 -->
                        <a href="{{url_for('views.post', post_id=post.id)}}">
                            <h6 class="post-title" id="post_title">{{post.title}}</h6>
                        </a>
                        <!-- 작성자, 날짜 -->
                        <p class="post-meta">
                            Category: <a href="{{url_for('views.posts_list', category_id=post.category_id)}}" id="post_category">{{post.category.name}}</a>
                            Posted by
                            <a id="post_owner_name" name="user_{{post.author_id}}" href="{{url_for('views.user_posts', user_id=post.author_id)}}">{{post.user.username}}</a>
                            <br>
                            {{post.date_created | datetime}}
                            comments: {{post.comments_count}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
            {% else %}
                <h2 style="text-align: center;">Post가 존재하지 않습니다.</h2>
                <br><br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}