<!-- flask_app/blog/templates/views/post_read.html -->
{% extends "base.html" %}

{% block title %} MyBlog - Post {{post.id}} {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- 제목 + post 저자 + 생성 날짜 -->
                <div class="post-heading">
                    <div id="title" name="title"><h2>{{post.title}}</h2></div>
                    <span class="meta">
                        <div id="author" name="author_{{post.author_id}}"><p>Post Author: <a href="{{url_for('views.user_posts', user_id=post.author_id)}}">{{post.user.username}}</a></p></div>
                        <div id="category" name="category_{{post.category_id}}"><p>Category: <a href="{{url_for('views.posts_list', category_id=post.category_id)}}">{{post.category.name}}</a></p></div>
                        <p>Post created at : {{post.date_created | datetime}}</p>
                        {% if user.id == post.user.id %}
                        <button class="btn btn-info" id="edit_button">
                            <a href="{{url_for('views.post_edit', post_id=post.id)}}">Edit</a>
                        </button>
                        <button data-post-id="{{post.id}}" onclick="onDeletePost(this)" class="btn btn-danger" id="delete_button">
                            Delete
                        </button>
                        {% endif %}
                    </span>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- 본문 -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" id="content" name="content">
                {% if download_urls %}
                    <div id="imageContainer" data-urls="{{ ','.join(download_urls) | safe }}"></div>
                {% else %}
                    <div id="imageContainer" data-urls=""></div>
                {% endif %}
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
</article>
<!--comment -->
<section class="mb-5" style="max-width: 90%; margin:0 auto">
    <div class="card bg-light">
        <div class="card-body" id="commentWrapper">
            <!-- Comment form-->
            <form class="mb-4" method="post" action="{{ url_for('views.comment_create', post_id=post.id) }}"
            style="padding-bottom: 10px;">
                {{ form.csrf_token }}
                <textarea class="form-control mb-3" rows="3" name="content" placeholder="Please leave a comment!"
                id="commentTextArea" {% if not user.is_authenticated %}disabled{% endif %}></textarea>
                <div style="text-align: right">
                    <button class="btn btn-info" id="submitButton" style="width: 150px;height: 45px; font-size: 12px;" type="submit"
                    {% if not user.is_authenticated %}onclick='alert("please login")'{% endif %}>
                        Comment
                    </button>
                </div>
            </form>
            <!-- Comment List -->
            {% if not comments %}
                <div id="emptyComment" style="text-align: center;">댓글이 없습니다.</div>
            {% else %}
                {% for comment in comments %}
                    <div id="commentList">
                        <!-- Single comment-->
                        <div class="row border-bottom">
                            <div class="col-3" style="margin:0 0; font-size: 14px; border-right:1px solid;">
                                <p style="margin:0 0"> {{comment.user.username}}</p>
                                <p style="margin:0 0">{{comment.date_created | datetime}}</p>
                            </div>
                            <div class="col-9" style="margin:0 0; font-size: 16px;">
                                <div class="row">
                                    {% if current_user.id==comment.author_id %}
                                        <p class="col-9" style="margin:0 0">{{comment.content}}</p>
                                        <p id="editAndDeleteButton" class="col-3 d-flex justify-content-center align-items-center" style="margin: 6px 0px">
                                            <button class="btn btn-secondary" style="padding: 6px;" data-bs-toggle="modal" data-bs-target="#editCommentModal{{ comment.id }}">
                                                <i class="fa-solid fa-pencil"></i>
                                            </button>
                                            <button data-comment-id="{{comment.id}}" onclick="onDeleteComment(this)" class="btn btn-danger" style="padding: 6px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </p>
                                    {% else %}
                                        <p class="col" style="margin:0 0">{{comment.content}}</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="editCommentModal{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="exampleModalLabel">Comment Edit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST" class="form-control" action="{{ url_for('views.comment_edit', comment_id=comment.id) }}">
                                        {{ form.csrf_token }}
                                        <div class="modal-body">
                                            <input id="commentContent" type="text" class="form-control" name="content" value="{{ comment.content }}"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Edit comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif%}
        </div>
    </div>
</section>
<script>
function onDeletePost(button){
    if (check_confirm('게시글을 삭제하시겠습니까?')){
        const postId = button.getAttribute('data-post-id');
        fetch('/post-delete/' + postId, {method:"DELETE"})
        .then(response => {
            if (response.status === 200){
                window.location.href = '/';
            } else {
                window.location.reload();
            }
        })
        .catch(error => {
            console.error(error);
        });
    }
}
function onDeleteComment(button){
    if (check_confirm('댓글을 삭제하시겠습니까?')){
        const commentId = button.getAttribute('data-comment-id');
        fetch('/comment-delete/' + commentId, {method:"DELETE"})
        .then(response => {
            window.location.reload();
        })
        .catch(error => {
            console.error(error);
        });
    }
}
document.addEventListener('DOMContentLoaded', function() {
    const imageContainer = document.getElementById('imageContainer');
    const dataUrls = imageContainer.getAttribute('data-urls');
    const download_urls = dataUrls ? dataUrls.split(',') : [];
    if (download_urls.length === 0){return;}
    download_urls.forEach(function(url) {
        fetch(url, {
            headers: {
                'Access-Control-Allow-Origin': window.location.origin
            } 
        })
        .then(response => response.blob())
        .then(blob => {
            const img = document.createElement('img');
            img.src = URL.createObjectURL(blob);
            img.style.maxWidth = '80%';
            imageContainer.appendChild(img);
        })
        .catch(error => {
            console.error('Image loading error:', error);
        });
    });
})
</script>
{% endblock %}