<!-- flask_app/blog/templates/views/post_read.html -->
{% extends "base.html" %}

{% block title %} MyBlog - Post {{post.id}} {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- 제목 + post 저자 + 생성 날짜 -->
                <div class="post-heading">
                    <div id="title" name="title"><h2>{{post.title}}</h2></div>
                    <span class="meta">
                        <div id="author" name="author"><p>Post Author: <a href="{{url_for('views.user_posts', user_id=post.author_id)}}">{{post.user.username}}</a></p></div>
                        <div id="category" name="category"><p>Category: <a href="{{url_for('views.posts_list', category_id=post.category_id)}}">{{post.category.name}}</a></p></div>
                        <p>Post created at : {{post.date_created | datetime}}</p>
                        {% if user.id == post.user.id %}
                        <button class="btn btn-info" id="edit_button">
                            <a href="{{url_for('views.post_edit', post_id=post.id)}}">Edit</a>
                        </button>
                        <button data_post_id="{{post.id}}" onclick="onDeletePost(this)" class="btn btn-danger" id="delete_button">Delete</button>
                        {% endif %}
                    </span>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    function onDeletePost(button){
        let confirm = window.confirm('정말 삭제하시겠습니까?');
        if (confirm) {
            // 확인을 클릭한 경우에만 요청 보내기
            let postId = button.getAttribute('data_post_id');
            fetch('/post-delete/' + postId, {method:"GET"})
            .then(response => {
                if (response.status === 200){
                    window.location.href = '/'
                }
            })
        }
    }
    function onDeleteComment(button){
        let confirm = window.confirm('정말 삭제하시겠습니까?');
        if (confirm) {
            // 확인을 클릭한 경우에만 요청 보내기
            let commentId = button.getAttribute('data_comment_id');
            fetch('/comment-delete/' + commentId, {method:"GET"})
            .then(response => {
                window.location.reload();
                if (response.status === 200){
                } else {
                }
            })
        }
    }
</script>
{% endblock %}

{% block content %}
<!-- 본문 -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" id="content" name="content">
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
</article>
<!--comment -->
<section class="mb-5" style="max-width: 90%; margin:0 auto">
    <div class="card bg-light">
        <div class="card-body" id="commentWrapper">
            <!-- Comment form-->
            <form class="mb-4" method="post" action="{{ url_for('views.comment_create', post_id=post.id) }}"
            style="padding-bottom: 10px;">
                {{ form.csrf_token }}
                <textarea class="form-control mb-3" rows="3" name="content" placeholder="Please leave a comment!"></textarea>
                <div style="text-align: right">
                    <button class="btn btn-info" id="submitButton" style="width: 150px;height: 45px; font-size: 12px;" type="submit">
                        Comment
                    </button>
                </div>
            </form>
            <!-- Comment List -->
            {% if not comments %}
                <div id="emptyComment" style="text-align: center;">댓글이 없습니다.</div>
            {% else %}
                {% for comment in comments %}
                    <div id="commentList">
                        <!-- Single comment-->
                        <div class="row border-bottom">
                            <div class="col-3" style="margin:0 0; font-size: 12px; border-right:1px solid;">
                                <p style="margin:0 0"> {{comment.user.username}}</p>
                                <p style="margin:0 0">{{comment.date_created | datetime}}</p>
                            </div>
                            <div class="col-9" style="margin:0 0; font-size: 16px;">
                                <div class="row">
                                    {% if current_user.id==comment.author_id %}
                                        <p class="col-9" style="margin:0 0">{{comment.content}}</p>
                                        <p id="editAndDeleteButton" class="col-3 d-flex justify-content-center align-items-center" style="margin: 6px 0px">
                                            <button class="btn btn-secondary" style="padding: 6px;" data-bs-toggle="modal" data-bs-target="#editCommentModal{{ comment.id }}">
                                                <i class="fa-solid fa-pencil"></i>
                                            </button>
                                            <button data_comment_id="{{comment.id}}" onclick="onDeleteComment(this)" class="btn btn-danger" style="padding: 6px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </p>
                                    {% else %}
                                        <p class="col" style="margin:0 0">{{comment.content}}</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="editCommentModal{{ comment.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Comment Edit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="POST" class="form-control" action="{{ url_for('views.comment_edit', comment_id=comment.id) }}">
                                        {{ form.csrf_token }}
                                        <div class="modal-body">
                                            <input id="commentContent" type="text" class="form-control" name="content" value="{{ comment.content }}"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Edit comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif%}
        </div>
    </div>
</section>
{% endblock %}